<launch>
    <!-- Tf transform (map -> odom) -->
    <node pkg="kamayuc_localization" type="setup_map_odom" name="setup_map_odom"/>

    <!-- Global-EKF -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
        <rosparam command="load" file="$(find kamayuc_localization)/params/ekf_global.yaml" />
        <remap from="odometry/filtered" to="ekf_global/odometry"/>
    </node>
</launch>